<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Applications</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container mt-3">
    <h3>Applications</h3>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Company</th>
            <th>Job title</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="a : ${applications}">
            <!-- company is an entity; show its name field -->
            <td th:text="${a.company.companyName}">company</td>
            <td th:text="${a.jobTitle}">jobTitle</td>
            <td th:text="${a.status}">status</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>